.container-admin {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
  border: 0;
}

.container-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 24px;
  height: auto;
}

#mensagens-recebidas {
  padding-bottom: 0;
}

.container-filtro {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filtro-item {
  margin: 8px;
}

.row-filtro {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.row-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.container-table {
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-bottom: 80px;
}

.badge {
  width: 100px;
  background: #ffc700;
}

.icon {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
}
