#navbar {
}

#nav-brand {
  /* background-color: #f0e9; */
}

#navbar-logo {
  width: 1.2em;
  height: 1.2em;
}

#basic-nav-dropdown {
  font-size: 16px;
}

#search-bar {
  width: 20em;
}

#cart-link {
  position: relative;
  display: flex;
}

#login-link {
  font-size: 1em;
}

#signup-link {
  font-size: 1em;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}


#teste {
  width: 100%;
  justify-content: space-between;
}

#basic-nav-dropdown {
  font-size: 14px;
}

#login-link {
  font-size: 14px;
}

#signup-link {
  font-size: 14px;
}

.dropdown-item {
  font-size: 14px;
}

#categories-items:hover {
}

#categories-items:active {
  text-decoration: none;
  background-color: #f0e9f1;
}

#minhaconta-items:active {
  background-color: #f0e9f1;
}

#cart-count {
  position: static;
  display:flex;
  background-color: #fff;
  border-radius: 50%;
  width:1.3em;
  font-size: 12px;
  margin-left: .1em;
  margin-bottom: .5em;
  transform: translate(-5px, -5px);
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
 
  #search-bar {
    width: 75%;
    margin-left: 15%;
    margin-top: 0.5em;
  }
}


@media only screen and (min-width: 600px) {

  #search-bar {
    width: 85%;
    margin-left: 10%;
    margin-top: 0.5em;
  }
}
@media only screen and (min-width: 768px) {
  #search-bar {
    width: 30em;
    margin-top: 0.5em;
    margin-left: 8em;
  }
}

@media only screen and (min-width: 992px) {
  #search-bar {
    width: 20em;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  #search-bar {
    width: 30em;
  }
}
